
.text-container
{
 color: rgb(102, 102, 102);
}
.additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-item {
    flex-basis: 48%; /* Adjust the width as needed */
    margin-bottom: 10px;
}

.info-icon {
    margin-right: 10px;
}


