.navbar-logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
}

.navbar-search {
  flex-grow: 1;
}

.navbar-search-input {
  width: 100%;
}

.navbar-search-button {
  margin-left: 10px;
}
.collapse {
  text-align: right;
}
