a {
  text-decoration: none !important;
}
.clinic-specialization .all-title-box {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  /* background-attachment: fixed; */
  padding: 70px 0px;
  position: relative;
}

.clinic-specialization .all-title-box::before {
  content: "";
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: rgba(0, 0, 0, 0.3); */
}

.clinic-specialization .all-title-box h2 {
  font-size: 28px;
  font-weight: 700;
  color: black;
  z-index: 2;
  padding: 10px 0;
  z-index: 2;
}

/* PreviewCard.css */
.doctor .card {
  max-width: 100%;
  flex-direction: row;
  border: 0;
  box-shadow: 0 7px 7px var(--sup-main-color);
  margin: 3em auto;
}

.doctor .card.card.bg-light-subtle .card-title {
  color: var(--main-color-alt);
}
.doctor .card.card.bg-light-subtle .card-title span {
  font-size: 15px;
}

.doctor .card-text {
  color: var(--sup-main-color);
  font-weight: inherit;
}
/* ------star started ---- */
.doctor .star svg {
  height: 25px;
  width: 25px;
}
/* ------star End  ---- */

.doctor .card img {
  max-width: 20%;
  /* margin: auto; */
  padding: 30px 10px;
  border-radius: 50%;
}
.doctor .card-body {
  display: flex;
  justify-content: space-between;
}
.doctor .text-section {
  max-width: 60%;
}
.doctor .cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 475px) {
  .doctor .card {
    font-size: 0.9em;
  }
}
.doctor .more-details span {
  font-size: 12px;
  color: var(--sup-main-color);
}
.doctor .more-details {
  padding-top: 20px;
}

.doctor .more-details ul {
  padding: 0 !important;
  margin: 0 !important;
}
.doctor .more-details ul li span {
  padding: 20px;
  line-height: 2;
  font-size: 14px;
}
.doctor .more-details ul li:first-child span,
.doctor .more-details ul li:last-child span {
  color: var(--sup-main-color);
}
.doctor .more-details ul li:first-child,
.doctor .more-details ul li:last-child {
  color: var(--main-color);
}

/* -----appointment-box---- */
.doctor .appointment-box {
  border: 1px solid rgba(102, 102, 102, 0.158);
  border-radius: 4px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doctor .appointment-box h6 {
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px;
  padding: 3px;
  margin: 0;
}

.doctor .appointment-box .time-info {
  color: var(--main-color);
  margin-top: 10px;
  padding: 30px 0;
}

.doctor .appointment-box .footer {
  margin-top: auto;
}

.doctor .book-button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(239, 15, 15);
}

/* -----info clinic End---- */

.info_clinic .card {
  max-width: 100%;
  flex-direction: row;
  border: 0;
  /* box-shadow: 0 7px 7px var(--sup-main-color); */
  margin: 3em auto;
}

.info_clinic .card.card.bg-light-subtle .card-title {
  color: var(--main-color-alt);
}
.info_clinic .card.card.bg-light-subtle .card-title span {
  font-size: 15px;
}

.info_clinic .card-text {
  color: var(--sup-main-color);
  font-weight: inherit;
}
/* ------star started ---- */
.info_clinic .star svg {
  height: 25px;
  width: 25px;
}
/* ------star End  ---- */

.info_clinic .card img {
  max-width: 33%;
  /* margin: auto; */
  padding: 30px 40px;
  border-radius: 50%;
}
.info_clinic .card-body {
  display: flex;
  justify-content: space-between;
}
.info_clinic .text-section {
  max-width: 60%;
}
.info_clinic .cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 475px) {
  .info_clinic .card {
    font-size: 0.9em;
  }
}
.info_clinic .more-details span {
  font-size: 12px;
  color: var(--sup-main-color);
}
.info_clinic .more-details {
  padding-top: 20px;
}

.info_clinic .more-details ul {
  padding: 0 !important;
  margin: 0 !important;
}
.info_clinic .more-details ul li span {
  padding: 20px;
  line-height: 2;
  font-size: 14px;
}
.info_clinic .more-details ul li:first-child span,
.info_clinic .more-details ul li:last-child span {
  color: var(--sup-main-color);
}
.info_clinic .more-details ul li:first-child,
.info_clinic .more-details ul li:last-child {
  color: var(--main-color);
}

/* -----appointment-box---- */
.info_clinic .appointment-box {
  border: 1px solid rgba(102, 102, 102, 0.158);
  border-radius: 4px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info_clinic .appointment-box h6 {
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px;
  padding: 3px;
  margin: 0;
}

.info_clinic .appointment-box .time-info {
  color: var(--main-color);
  margin-top: 10px;
  padding: 30px 0;
}

.info_clinic .appointment-box .footer {
  margin-top: auto;
}

.info_clinic .book-button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(239, 15, 15);
}

/* -----info clinic End---- */
.info_clinic .img-clinic img {
  height: 100%;
  border-radius: 0;
  max-width: none;
  padding: 0;
}
/* -----card appointment------- */
.information_appointment .card {
  flex-direction: column;
  border-radius: 5px !important;
}
.information_appointment .card .card-head {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.information_appointment .card-body-appintment p {
  color: var(--sup-main-color);
  padding: 10px;
}
.information_appointment .card-body-appintment svg {
  color: var(--main-color);
}
.information_appointment .card-body-appintment span {
  color: var(--sup-main-color);
  padding: 10px;
}
.information_appointment .card-body-appintment .appointspan {
  color: #ff0000;
  font-weight: bold;
  padding: 10px;
}
.information_appointment .card-body-appintment h5 {
  color: var(--sup-main-color);
  padding: 10px;
}
.information_appointment .card-body-appintment .edit-width {
  width: 70%;
  margin: auto;
  padding: 10px;
}
.information_appointment .signInNow {
  color: var(--sup-main-color);
  padding: 10px;
}
.information_appointment .card-footer svg {
  color: rgb(124, 187, 104);
}
.info_clinic .card-title {
  color: var(--sup-main-color);
}
.info_clinic .text-section p {
  color: var(--sup-main-color);
}
.doctorInformation {
  color: var(--sup-main-color);
}
.doctorInformation span {
  font-size: 20px;
  font-weight: 500;
}
.doctorInformation p {
  font-size: 15px;
}
.imageClinic {
  color: var(--sup-main-color);
}
.imageClinic span {
  font-size: 20px;
  font-weight: 500;
}
.countClinics {
  color: var(--sup-main-color);
}
/* ---------Uniqe Appointment Start--------- */
/* registerAppointmentClinic.css */

.uniqueAppointment-main-wrapper {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.uniqueAppointment-form-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uniqueAppointment-form-wrapper form {
  display: flex;
  flex-direction: column;
}

.uniqueAppointment-form-wrapper label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.uniqueAppointment-form-wrapper .form-group {
  margin-bottom: 15px;
}

.uniqueAppointment-form-wrapper .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.uniqueAppointment-btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uniqueAppointment-btn:hover {
  background-color: rgb(23, 135, 224);
}

.btn-group {
  margin-bottom: 15px;
}

.btn-outline-primary {
  margin-right: 5px;
}

.uniqueAppointment-form-wrapper h2,
.uniqueAppointment-form-wrapper label {
  color: var(--sup-main-color);
}


.totalClinics {
  color: var(--sup-main-color);
}

/* ---------Uniqe Appointment End--------- */
/* ---------Rating And Comment----------- */
